{% include "header.html" %}

<section>
    <div class="album py-5 bg-body-tertiary">
        {% if products == []: %}
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">No match</h1>
        </div>
        {% else: %}
        <div class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-lightning-charge" viewBox="0 0 16 16">
                    <path
                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z" />
                </svg>
                <div class="lh-1">
                    <h1 class="h6 mb-0 lh-1">Flash Sales</h1>
                    <small></small>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                {% if product.id == 6: %}
                {% break %}
                {% endif %}

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ product.thumbnail }}" alt="product image" class="product-img">
                        <div class="card-body">
                            <h5 class="card-text lh-2">{{ product.name }}</h5>
                            <h1 class="card-title pricing-card-title">
                                ₦ {{ product.price }}
                            </h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ url_for('view_product', product_id=product.id) }}"
                                        class="btn btn-sm btn-outline-primary">View</a>
                                </div>
                                <small class="text-body-secondary">{{product.updated_at}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% include "footer.html" %}