{% include "header.html" %}

<section class="py-5 bg-body-tertiary">
    <div class="container">
        {% if orders == []: %}
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">No Orders</h1>
        </div>
        {% else: %}
        <div class="row align-items-center g-5 py-5"
            style="margin-top: revert-layer; width: 100%; margin-left: initial;">
            <div class="col-lg-8 bg-white square shadow-lg">
                <div>
                    <h1 class="display-6 text-body-emphasis lh-1 p-3"> Orders({{ orders | length }})</h1>
                </div>

                {% for order in orders %}
                <hr style="color: black; border-width: 5px;" class="my-3">
                <div>
                    <ul>
                        <li style="color: black;">
                            <h6 class="text-body-emphasis lh-1"> Order ID: {{ order.id }}</h6>
                        </li>
                        <li style="color: black;">
                            <h6 class="text-body-emphasis lh-1">Status: {{ order.status }}</h6>
                        </li>
                        <li style="color: black;">
                            <h6 class="text-body-emphasis lh-1">Total Amount: ₦{{ order.total_price }}
                            </h6>
                        </li>
                        <li style="color: black;">
                            <h6 class="text-body-emphasis lh-1">Shipping Address: {{ order.shipping_address }}
                            </h6>
                        </li>
                    </ul>
                </div>
                {% for item in order.order_items %}
                <hr style="color: black;">
                <div class="d-flex align-items-center text-black">
                    <img src="/{{ item.product.thumbnail }}" alt="product-img"
                        style="width: 100; height: 100; margin-right: 20px; margin-left: 20px;">
                    <div class="lh-1">
                        <h5 class="mb-0">{{ item.product.name }}</h5><br>
                        <small>{{ item.product.description}}</small><br><br>
                        <h5 class="mb-0">₦{{ item.product.price }}</h1><br>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% include "footer.html" %}