{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/doyin1.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Happy Birthday Doyin!</h1>
          <span class="subheading">Long life and prosperity.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h4>Dear Best Friend,</h4>
      <p>Happy Birthday to my best friend in the whole wide world! 🎉 
        Today is a special day, and I just want to take a moment to let you know how much you mean to me.</p>
            <img src="../static/assets/img/doyinface1.jpg" alt="Doyin's pretty face" style="width: 150px; height: auto;">
            <img src="../static/assets/img/doyinface2.jpg" alt="Doyin's pretty face" style="width: 150px; height: auto;">
            <img src="../static/assets/img/doyinface3.jpg" alt="Doyin's pretty face" style="width: 150px; height: auto;">
            <img src="../static/assets/img/doyinface4.jpg" alt="Doyin's pretty face" style="width: 150px; height: auto;">
      <p>I love you so much, more than words can express. 
        🥺❤️ I truly bless the day I met you, because that day brought the most amazing person into my life. 
        You are kind, caring, and endlessly supportive, and I am so incredibly grateful for you.</p>
        <p>Thank you for being more than just a friend—you are my sister, my confidante, and my rock. 
            You’ve stood by me through thick and thin, always knowing just how to lift me up when I need it most. 
            Your friendship is one of the greatest blessings in my life, and I don’t take a single moment of it for granted.</p>
        <p>As you grow older, so will you grow bigger in every aspect of your life. 
            In every way that truly matters, may you be blessed with abundance. 
            God bless you mightily, and may His grace guide you through all that life has to offer. Amen. 🙏</p>
      <p>On this special day and always, I wish you joy, love, and endless happiness. You deserve all the best things in the world.</p>
      <p>With all my love, Oreoluwa</p>
    </div>
  </div>

{% include "footer.html" %}
