<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Fidelia Achi</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Fidelia.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/ore_ID.jpeg" alt="angela-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am an Python Developer. I'm a student! I ❤️ Joseph, Doyin and Family.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 17 years old because I wanted to become a Robotics Engineer. I wanted to become a guru in the AI field, I am gaining a wealth of experience designing and developing web applications.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">

        <h3>Singing Challenge</h3>
        <p>I love music! I have an okay voice if i wasn't so interested in Computer Science i would probably be singing my heart outs somewhere.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love Music as much as I do.</h3>
      <p class="contact-message">Love Music as much as I do? Let's talk about how awesome they are! We can code while we search for good Music!</p>
      <a class="btn" href="mailto:fidelia.100daysofcode@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/yu_angela">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
  </div>
</body>

</html>
